<%# This partial relies on having an `email` local variable available %>

<% md5 = Digest::MD5.hexdigest email %>
<% gravatar_url = "https://secure.gravatar.com/avatar/#{md5}.png" %>

<div
  class="avatar"
  style="background: url(<%= gravatar_url %>) no-repeat;"
  data-email="<%= email %>"
></div>
