<h1>Listing events</h1>

<ul class="list-group">
  <% @events.each do |event| %>
    <li class="list-group-item">
      <span class="badge">xx</span>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>
