#calendar {
  max-width: 400px;
  text-align: center;

  // Disable highlighting of text when dragging
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .clndr-next-button, .clndr-previous-button {
    float: left;
    width: 100px / 7px * 1%;
    font-weight: bold;
    background-color: lightslategrey;
    padding: 5px;
    &:hover { background-color: rgb(108, 115, 129); }
  }

  .month, .header-day  {
    float: left;
    width: 100px / 7px * 5%;
    padding: 5px;
    font-weight: bold;
    background-color: lightslategrey;
  }

  .header-day, .day {
    float: left;
    width: 100px / 7px * 1%;
    padding: 5px;
    border: 1px solid lightslategrey;
  }

  .day {
    background-color: slategrey;
    &:hover { background-color: rgb(108, 115, 129); }
    &.event {
      background-color: #414961;
      font-weight: bold;
      color: #FFFFFF;
    }
  }

  .past {
    color: rgb(108, 115, 129);
    &:hover { background-color: slategrey; }
    &.adjacent-month { background-color: lightslategrey; }
  }

  .adjacent-month {
    background-color: lightslategrey;
  }
}
