// ref: http://bavotasan.com/2011/circular-images-with-css3/
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-color: #40ABA5;
  float: left;
  font-size: 50px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
}

input[type="checkbox"] {
  transform: scale(2.0);
  margin-left: 32px;
}
